[Unit]
Description=Simple XCP Daemon Example
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/xcp_daemon
ExecReload=/bin/kill -s SIGHUP $MAINPID
Environment=RUST_LOG=info
SyslogIdentifier=XcpProcess

[Install]
WantedBy=multi-user.target